<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@topic.errors.count, "error") %> did not allow for this topic to be saved:</h3>
      <ul>
        <% @topic.errors.full_messages.each do |text| %>
          <li><%= text %><li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="textBox">
    <%= f.label :title %>
    <br>
    <%= f.text_field :title%>
  </div>
  <div class="textBox">
    <%= f.label :description%>
    <br>
    <%= f.text_field :description%>
  </div>
  <div class="button">
    <%= f.submit %>
  </div>
<% end %>
