<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
  <div id="error_explanation">
  <h3><%= pluralize(@image.errors.count, "error") %> did not allow for this topic to be saved:</h3>
  <ul>
    <% @image.errors.full_messages.each do |text| %>
      <li><%= text %><li>
  <% end %>
  </ul>
</div>
  <% end %>


<div class="uploadFile">
  <%= f.label "New Image" %>
  <%= f.file_field :uploaded_file%>
</div>

<div class="textBox">
  <%= f.label "Private" %>
  <%= f.check_box :isPrivate%>
</div>
<br>

<div class="button">
  <%= f.submit %>
</div>
<% end %>

