<style>
.image{
  display: inline-block;
  width: 100;
  height: 150;
}
</style>
<% if @hasUser %>  
  <h1>My Images</h1>
  <hr>
  <h3><%= current_user.name %></h3>

  <% current_user.images.each do |img| %>
    <div class="image">
      <%=link_to(image_tag(root_url + '/images/' + img.filename, size:"100x100", alt: img.filename), img) %>
      <br>
      <%= User.find(img.user_id).name %>
    </div>
  <% end %>

  <div><%= link_to 'Add New Image', new_image_path %></div>

  <h1>Images Shared with Me</h1>
  <hr>
  <% current_user.image_users.each do |img| %>
      <% image = Image.find(img.image_id) %>
    <div class="image">
      <%= link_to(image_tag( root_url + '/images/' + image.filename, size:"100x100", alt: image.filename), image) %>
      <br>
      <%= User.find(image.user_id).name %>
    </div>
  <% end %>
<% end %>  
<h1>All Public Images</h1>
<hr>
<% @images.each do |img| %>
  <% if @hasUser %>  
    <% if !img.isPrivate && (current_user.id != img.user_id)%>  
      <div class="image">
        <%=link_to(image_tag(root_url + '/images/' + img.filename, size:"100x100", alt: img.filename), img) %>
        <br>
        <%= User.find(img.user_id).name %>
      </div>
    <% end %>  
  <% else %>
    <% if !img.isPrivate %>  
    <div class="image">
      <%=link_to(image_tag(root_url + '/images/' + img.filename, size:"100x100", alt: img.filename), img) %>
      <br>
      <%= User.find(img.user_id).name %>
    </div>
    <% end %>  
  <% end %>
<% end %>
