<%= link_to 'Main Page', root_path %>
<br>
<div>Image Owner: <%= @imageOwner.name %></div>
<div>private: <%= @thisImage.isPrivate %></div>
  
<table>
  <tr>
    <td>
<% @thisImage.tags.each do |tag| %>
  <% if !tag.new_record? %>
    <div>"<%= tag.tag %>" <%= link_to 'Delete Tag', tag, method: :delete , data: {confirm: 'Do you really want to delete this tag?'}%></div>
  <% end %>
<% end %>
<% if !@thisImage.isPrivate || @hasPermission %>
  <%= image_tag root_url + '/images/' + @thisImage.filename, size:"600x700", alt: @thisImage.filename %>
<% end %>

    </td>
    <td>
<% if @isOwner %>
  <%= render 'tags/form' %>
  <br>
  <%= form_for @thisImage do |t| %>
    <%= t.hidden_field(:isPrivate, :value => !@thisImage.isPrivate) %>
    <% if @thisImage.isPrivate %>
      <%= t.submit "Make Public"%>
    <% else %>
      <%= t.submit "Make Private"%>
    <% end %>
  <% end %>
  <br>
  <% if @thisImage.isPrivate %>
    <%= render 'image_users/form' %>
  <% end %>
  <br>
  <%= link_to 'Delete Image', @thisImage, method: :delete, data: {confirm: 'Do you really want to delete this Image?'} %>
<% end %>
</td>
</tr>
</table>
